{% extends './html/base.html' %}
{% load static %}

{% block content %}

    <div class="tw-flex tw-flex-col tw-p-3">

        <div class="tw-shadow-2xl tw-p-3 sm:tw-m-[2%] md:tw-m-[10%] md:tw-mx-[30%]">
            <div class="tw-text-center tw-text-2xl tw-m-2">
                Contact us
            </div>

            <div class="tw-text-center tw-text-sm">
                We are here to help. Submit your query
            </div>

            <form action="/contact-us/" method="post" class="tw-flex tw-flex-col gap-2 tw-space-y-2">
                {% csrf_token %}
                    
                <input type="text" name="name" placeholder="name" maxlength="30" class="form-control" required>
                <input type="email" name="from_email" placeholder="your email" maxlength="200" class="form-control" required>
                <input type="subject" name="subject" placeholder="subject" maxlength="150" class="form-control" required>
                <textarea type="email" name="description" 
                        placeholder="description" 
                        maxlength="350"
                        class="form-control"
                        required></textarea>
    
                <div class="tw-flex tw-space-x-2 tw-w-full tw-place-content-center">
                    {% comment %} <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a> {% endcomment %}
                    <input type="submit" id="submit-btn" class="btn btn-primary" value="Submit">
                </div>
            </form>

        </div>

    </div>

{% endblock content %}