{% extends './html/base.html' %}
{% load static %}

{% block content %}
<div class="tw-flex tw-flex-col tw-min-h-screen tw-p-3 tw-place-items-center tw-gap-4"> <!-- Changed tw-min-h-[100vh] to tw-min-h-screen -->
    <div class="tw-text-center tw-mt-4">
        <p class="tw-text-2xl tw-font-bold">Public Email templates</p>
    </div>
    <div class="tw-flex tw-w-full tw-flex-col tw-place-items-center">
        <form method="get" action="{% url "email-templates" %}" 
              class="tw-flex tw-min-w-[350px] md:tw-min-w-[500px] tw-max-w-2xl">
            <div class="input-group">
                <input type="hidden" name="public" value="True">
                <input type="text" name="search" maxlength="100" class="form-control" 
                        placeholder="search templates" 
                        value="{{ search_query }}" aria-describedby="button-addon1">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <div class="tw-flex tw-w-full tw-flex-col tw-place-items-center tw-mt-[3%] tw-gap-3">
            {% if templates %}
                <div class="tw-flex tw-flex-wrap tw-place-content-center tw-gap-3">
                    {% for x in templates %}
                        <div class="tw-flex tw-flex-col tw-border-solid 
                                    tw-border
                                    tw-text-left 
                                    tw-justify-items-center 
                                    tw-place-items-center 
                                    tw-w-[250px] tw-h-[250px] 
                                    tw-rounded-lg tw-shadow-xl tw-p-3
                                    tw-overflow-hidden">
                            <b>{{ x.name }}</b>
                            <p class="tw-h-[80px] tw-overflow-auto tw-mt-2"><b>Subject:</b> {{ x.subject }}</p>
                            <p>by: {{ x.user.name }}</p>
                            <div class="tw-flex tw-gap-1 tw-mt-auto tw-w-[80%] tw-text-center">
                                <button onclick="viewTemplate({{x.id}})" class="btn !tw-max-w-fit" 
                                    data-bs-placement="bottom" title="View template"
                                    data-bs-toggle="modal" data-bs-target="#templateViewModel"
                                >
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                                <a class="tw-border-solid tw-border tw-rounded-lg tw-bg-green-400 hover:tw-bg-green-500 tw-w-full tw-p-2" href="{% url 'email-template-create' %}?edit={{ x.id }}"> 
                                    Edit
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif search_query %}
                <div class="tw-text-center">
                    <p class="tw-text-lg">Search not found :( Try again with some other keyword</p>
                </div>
            {% else %}
                <div class="tw-text-center">
                    <p class="tw-text-lg">No templates Yet :(</p> 
                </div>
            {% endif %}
        </div>

        <ul class="pagination justify-content-center flex-wrap mb-4 !tw-mt-[5%]">
            {% if templates.has_previous %}
                <li class="page-item"><a class="page-link" href="?public=True&page={{ templates.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in templates.paginator.page_range %}
                {% if templates.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?public=True&page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if templates.has_next %}
                <li class="page-item"><a class="page-link" href="?public=True&page={{ templates.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        

    </div>

</div>
{% endblock content %}
