{% extends './html/base.html' %}
{% load static %}

{% block content %}
<div class="tw-flex tw-flex-col tw-min-h-[100vh] tw-p-3 tw-place-items-center tw-gap-4">
    <div class="tw-text-3xl tw-font-semibold tw-text-center tw-mt-[2%]">
        Configure Email
    </div>
    <div class="tw-mt-[2%] tw-flex tw-w-full tw-place-content-center">
        <div class="tw-max-w-lg tw-w-full tw-shadow-xl tw-p-5">
            
            <div class="alert alert-danger tw-text-center {% if not errors %}tw-hidden{% endif %}" id="configuration-alert">
                {% for x in errors %}
                    {{x}}
                {% endfor %}
            </div>
            <form action="" id="configuration-form" method="post" 
                class="tw-flex tw-flex-col tw-gap-2" onsubmit="return checkSubmition();">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Display Name</span>
                    <input type="text" class="form-control" name="name" id="basic-url" autofocus 
                            value="{{configuration.name}}" placeholder="Name (optional)">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Email</span>
                    <input type="email" class="form-control" maxlength="450" name="email" id="basic-url" 
                            value="{{configuration.email}}" placeholder="name@yourdomain.com">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Password</span>
                    <input type="password" class="form-control" maxlength="80" name="password" id="" 
                            value="{{configuration.password}}" >
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Host</span>
                    <input type="text" class="form-control" maxlength="200" name="host" id="host-input" value="{{configuration.host}}" 
                            placeholder="Host">
                    <select class="form-select" onchange="updateHost()">
                        <option value="">Select host</option>
                        <option value="smtp.gmail.com">Gmail</option>
                        <option value="smtp-mail.outlook.com">Outlook</option>
                        <option value="smtp.mail.yahoo.com">Yahoo Mail</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Port</span>
                    <input type="number" class="form-control" name="port" id="port-input" min="0" oninput="validity.valid||(value='');"
                             value="{{configuration.port}}" 
                            placeholder="Port">
                    <select class="form-select" onchange="updatePort()">
                        <option value="465" selected>Select Port (default 465)</option>
                        <option value="587">Gmail</option>
                        <option value="587">Outlook</option>
                        <option value="465">Yahoo Mail</option>
                    </select>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="">Imap host</span>
                    <input type="text" class="form-control" maxlength="200" name="imap_host" id="imap-host-input" 
                            value="{{configuration.imap_host}}" 
                            placeholder="Host">
                    <select class="form-select" onchange="updateImapHost()">
                        <option value="">Select host</option>
                        <option value="imap.gmail.com">Gmail</option>
                        <option value="outlook.office365.com">Outlook</option>
                        <option value="imap.mail.yahoo.com">Yahoo mail</option>
                    </select>
                </div>

                <div class="tw-flex tw-flex-col">
                    <span class="tw-m-2" id="">Email signature</span>
                    <textarea class="form-control tw-max-h-[200px]" 
                            name="signature" id="" maxlength="250" value="{{configuration.signature}}" 
                            placeholder="eg: Best regards, Paul ">{{configuration.signature}}</textarea>
                </div>

                <button type="submit" class="btn btn-dark tw-my-4" class>Save</button>

            </form>

        </div>
    </div>

    <hr>

    <div class="tw-flex tw-flex-col tw-place-items-center tw-gap-2 tw-p-3">

        <div class="tw-font-medium tw-text-2xl">
            Usage guide
        </div>

        <div class="tw-text-md tw-mt-4">
            For people using Gmail please refer the below guide on how to generate an app password
            <a href="https://stackoverflow.com/a/73214197/15993687" target="_blank"
                rel="noreferrer" class="tw-underline tw-text-blue-600"  >Generating app password</a>
        </div>

        <ol>
            <li>
                If you are unaware of host, port and Imap host, please select one of the dropdown 
                or ask your email provider.
            </li>
        </ol>

        <ol>
            <li>
                Though the email and passwords are encrypted. Its recommended to use a secondary mail id.
            </li>
            <li>
                If you are using Outlook or Gmail you might be asked to authorize sending mail. Regularly check your inbox.
            </li>
        </ol>

        {% comment %} <div class="tw-font-semibold">
            Though email configurations password and email are encrypted in the backend, we recommend
            using a secondary email for automation
        </div> {% endcomment %}
    </div>

</div>
<script src="{% static "./js/email-product/configuration.js" %}"></script>
{%endblock content%}