{% extends './html/base.html' %}
{% load static %}

{% block content %}
<div class="tw-flex tw-flex-col tw-min-h-[100vh] tw-p-3 tw-place-items-center tw-gap-4">

    <div class="modal model-dialog fade modal-dialog-centered !tw-hidden" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Template</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
              Are you sure you want to delete this? This action cannot be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="" id="modal-btn-delete" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
        </div>
    </div>

    <div class="tw-text-3xl tw-font-semibold tw-text-center tw-mt-[2%]">
       My Email Templates
    </div>

    <div class="tw-flex tw-flex-wrap tw-place-content-center tw-mt-[5%] tw-w-full tw-gap-4 tw-mx-[30%]">

        <a class="tw-flex tw-flex-col tw-border-solid 
                    tw-text-center tw-justify-items-center 
                    tw-place-content-center 
                    tw-w-[250px] tw-g-[150px] 
                    tw-rounded-lg tw-shadow-xl tw-p-5"
                    href="{% url "email-template-create" %}"
                    >
            <i class="bi bi-plus-lg tw-text-3xl"></i>
            <p>Create template</p>
        </a>  

        {% for template in private_templates %}
            <div class="tw-flex tw-flex-col tw-border-solid 
                        tw-justify-items-center 
                        tw-border-gray-700
                        tw-border
                        tw-w-[250px] tw-h-[250px] 
                        tw-rounded-lg tw-shadow-xl tw-p-5"
                        >
                <b>{{template.name}} #{{template.id}}</b>
                <div><b>Subject:</b> {{template.subject}}</div>
                <div class="tw-flex tw-gap-1 tw-mt-auto tw-text-2xl">
                    <button type="submit" onclick="onDeleteTemplate('{% url 'email-template-delete' id=template.id %}', '{{ template.name }} #{{ template.id }}')" 
                            class="btn !tw-text-red-600 tw-w-full" data-bs-toggle="modal" data-bs-target="#delete-modal"><i class="bi bi-trash"></i>
                    </button>
                    <a class="btn !tw-border-solid !tw-border" href="{% url 'email-template-create' %}?copy={{ template.id }}" 
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Duplicate">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"></path>
                        </svg>
                    </a>
                    <a class="btn !tw-border-solid tw-w-full" href="{% url 'email-template-create' %}?edit={{ template.id }}"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"
                        >
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </div>                
            </div>
        {% endfor %}
    </div>  
    <hr>
    <div class="tw-text-2xl">
        Public Email templates
    </div>
    <div class="tw-flex tw-mt-[2%] tw-w-full tw-flex-wrap tw-gap-4 tw-mx-[30%]">
        {% for template in public_templates %}
            <div class="tw-flex tw-flex-col tw-border-solid 
                        tw-border
                        tw-text-left 
                        tw-justify-items-center 
                        tw-place-items-center 
                        tw-w-[250px] tw-h-[250px] 
                        tw-rounded-lg tw-shadow-xl tw-p-3
                        tw-overflow-hidden
                        "
                        >
                <b>{{template.name}} #{{template.id}}</b>
                <p class="tw-h-[80px] tw-overflow-auto"> <b>Subject:</b>  {{template.subject}}</p>
                <p>by: {{template.user.name}}</p>
                <div class="tw-flex tw-gap-1 tw-mt-auto tw-w-[80%] tw-text-center">
                    <a class="tw-border-solid tw-border tw-border-rounded-2 tw-w-full tw-p-2 tw-rounded-lg tw-bg-green-400 hover:tw-bg-green-500" href="{% url 'email-template-create' %}?edit={{ template.id }}">
                        Edit
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>  
</div>
<script src="{% static "./js/email-product/email-templates.js" %}"></script>
{% endblock content %}