{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="tw-min-h-[100vh] tw-p-3 tw-w-full tw-flex tw-flex-col tw-items-center">
        <div class="tw-text-3xl tw-font-bold tw-m-5">
            <span>Support Open source</span> 
            <a href="https://github.com/PaulleDemon" target="_blank" rel="noreferrer" class="tw-m-2"><i class="tw-text-3xl bi bi-github"></i></a>

        </div>

        <div class="lg:tw-mx-[30%] tw-text-justify">
            Developing and maintaining open-source and free projects requires a significant commitment of time and effort. 
            My goal is to transition to working on open-source projects on a full-time basis. If you'd like to support me and the open-source community, 
            please consider making small donations so I can dedicate more time to open-source work.
        </div>
        <div>
            <a href="https://www.buymeacoffee.com/ArtPaul" target="_blank" rel="noreferrer">
                <img src="{% static "./assets/logos/buy-me-coffee.png" %}" 
                    class="tw-mt-[5%] tw-max-w-lg tw-max-h-[100px]" 
                    alt="" srcset="">
            </a>
        </div>

        <div class="tw-mt-[5%] tw-text-2xl tw-font-semibold">
            Alternativly
        </div>

        <div class="tw-text-justify tw-text-lg">
            You can buy some of the production scale platforms that I have built to support open-source

            <div class="tw-flex tw-w-full tw-text-lg">
                <ul class="tw-mt-[2%]">
                    <li>This site: <a href="http://adostrings.com" class="tw-text-blue-700">AdoStrings</a></li>
                    <li>Platform for creators: <a href="http://creators.adostrings.com" class="tw-text-blue-700">Creators</a></li>
                    <li>You can also send a mail to paul@adostrings.com to buy some of my private production scale projects</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="tw-text-3xl tw-font-bold tw-m-5">
            Sponsors
        </div>
        <div class='tw-text-base'>
            Get your name here by sponsoring 
        </div>


    </div>
{% endblock %}